<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Danny_TestConnectionString" connectionString="Data Source=192.168.7.39\SQLEXPRESS2012;Initial Catalog=WhitePaper;Persist Security Info=True;User ID=sa;Password=Emct53117628"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
	<customErrors mode="Off"></customErrors>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2048000000" />
  </system.web>
</configuration>